.loading {
    background: #3498db;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
    font-family: $font-type-two;
	font-weight: 700;
	text-align: center;
	z-index: 9999;

	&.is-loaded {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear .5s, opacity .4s linear;	
	}
	
	.text {
		position: relative;
		color: rgba(0, 0, 0, .3);
		font-size: 30px;
		top: calc(50% - calc(50px / 2));
	}

	.text:before {
		content: attr(data-text);
		position: absolute;
		overflow: hidden;
		max-width: 7em;
		white-space: nowrap;
		color: #fff;
		animation: loading 6s infinite;
		top: calc(50% - calc(36px / 2));
	}

	@keyframes loading {
		0% {
			max-width: 0;
		}
	}

	@media (min-width: 420px){
		.text {
			font-size: 50px;
			top: calc(50% - calc(50px / 2));
		}
		.text:before {
			top: calc(50% - calc(58px / 2));
		}
	}

	@media (min-width: 700px){
		.text {
			font-size: 80px;
			top: calc(50% - calc(80px / 2));
		}
		.text:before {
			top: calc(50% - calc(97px / 2));
		}
	}
}
