head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	block title
	title #{title} - Jokenpô
	meta(name="twitter:title", property="og:title", content=title + " - Jokenpô")
	meta(name="twitter:card", content="summary_large_image")
	meta(property="og:type", content="website")
	meta(name="twitter:description", property="og:description" content="Um game simples feito com vanilla.js e busca ser supersimples mas bem otimizado. O jogo consiste basicamente em escolher uma opção que supere a opção do oponente")
	meta(name="twitter:image", property="og:image", content="./static/images/jokenpo.jpg")
	link(rel="apple-touch-icon", sizes="76x76", href="./static/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="./static/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="./static/favicon-16x16.png")
	link(rel="manifest", href="./static/site.webmanifest")
	link(rel="mask-icon", href="./static/safari-pinned-tab.svg", color="#5bbad5")
	meta(name="msapplication-TileColor", content="#ffffff")
	meta(name="theme-color", content="#ffffff")
	link(href="https://fonts.googleapis.com/css?family=Titan+One", rel="stylesheet")