extends ../layouts/pages
block append head
	block title
		- var title='Rock, paper, scissors'; // Page title

block content
	include ../components/loading
	
	div.choice-game.a
		.container
			.button(game-id="1")
				i.icon-hand-scissors
			.span Classic
	div.choice-game.b
		.container
			.button(game-id="2")
				i.icon-hand-spock
			.span Nerd

	section.option
		button#rock(data-play="rock")
			i.icon-hand-rock
			span Rock
		button#paper(data-play="paper")
			i.icon-hand-paper
			span Paper
		button#scissors(data-play="scissors")
			i.icon-hand-scissors
			span Scissors
		button#lizard(data-play="lizard")
			i.icon-hand-lizard
			span Lizard
		button#spock(data-play="spock")
			i.icon-hand-spock
			span Spock
		div.result
