extends ../layouts/pages
block append head
	block title
		- var title='Rock, paper, scissors'; // Page title

block content
	include ../shared/loading
	div.choice
		.container
	div.choice
		.container
