extends ../layouts/pages
block append head
	block title
		- var title='Rock, paper, scissors'; // Page title

block content
	include ../components/loading
	
	div.choice-game.a
		.container
			.button(game="a")
				i.icon-hand-scissors
			.span Classic
	div.choice-game.b
		.container
			.button(game="b")
				i.icon-hand-spock
			.span Nerd

	section.game
		.button-back
			i.icon-cancel
		.container
			button.option.winner#rock(play="rock")
				i.icon-hand-rock
				span Rock
			button.option.loser#paper(play="paper")
				i.icon-hand-paper
				span Paper
			button.option.tie#scissors(play="scissors")
				i.icon-hand-scissors
				span Scissors
			button.option#lizard(play="lizard")
				i.icon-hand-lizard
				span Lizard
			button.option#spock(play="spock")
				i.icon-hand-spock
				span Spock
			.result rock win of scissors
