extends ../layouts/pages
block append head
	block title
		- var title='Rock, paper, scissors'; // Page title

block content
	include ../shared/loading
	
	div.choice-game
		.container
			.button
				i.icon-hand-scissors
			.span Rock, Paper, Scissors
	div.choice-game
		.container
			.button
				i.icon-hand-spock
			.span Rock, Paper, Scissors, Lizard, Spock
