// Vendor
@import "~normalize.css/normalize.css";

// Configs
@import "./config/variables";

// Helpers
@import "./helper/global";
@import "./helper/anim";
@import "./helper/fonts";

// Shared components
@import "./shared/loading";


.choice-game{
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    
    &.a {
        background-color: #E74C3C;
        &.out {
            animation: swing-out-top-fwd .2s linear both;
        }
        .container {
            top: calc(60% - calc(126.4px / 2));
        }
    }

    &.b {
        top: 50%;
        background-color: rgb(175, 198, 51);
        &.out {
            animation: swing-out-bottom-fwd .2s linear both;
        }
        .container {
            top: calc(40% - calc(126.4px / 2));
        }
    }

    .container {
        position: absolute;
        font-family: $font-type-two;
        font-weight: 500;
        color: white;
        text-shadow: 4px 4px rgb(69, 69, 69);
        text-align: center;
        width: 104px;
        left: calc(50% - calc(104px / 2));       
        .button{
            border-radius: 100%;
            height: 100px;
            width: 100px;
            box-shadow: 4px 4px rgb(69, 69, 69);
            background-color: white;
            cursor: pointer;
            color: rgb(69, 69, 69);
            font-size: 70px;
            text-shadow: none;
            display: flex;
            align-items: center; 
            justify-content: center;
            margin-bottom: 8px;
        }
        
        .button:active {
            box-shadow: 0px 0px #000;
            transform: translate(4px,4px);
        }

    }

    
}

// hack only for disengagement of conscience, because cell with the screen almost does not exist
@media (max-height: 336px) {
    .choice-game{
        &.a {
            .container {   
                top: calc(60% - calc(86.4px / 2));
            }
        }

        &.b {
            .container {   
                top: calc(40% - calc(86.4px / 2));
            }
        }

        .container {
            width: 62px;
            left: calc(50% - calc(62px / 2)); 
            text-shadow: 2px 2px rgb(69, 69, 69);
            .button {
                height: 60px;
                width: 60px;
                box-shadow: 2px 2px rgb(69, 69, 69);
                font-size: 30px;
            }
        }
    }
}

@media (min-width: 650px){
    .choice-game{
        height: 100%;
        width: 50%;
        
        &.a {
            &.out {
                animation: swing-out-left-fwd .2s linear both;
            }
            .container {   
                right: calc(60% - calc(164px / 2)); 
            }
        }

        &.b {
            top: 0;
            left: 50%;
            &.out {
                animation: swing-out-right-fwd .2s linear both;
            }
            .container {   
                left:  calc(40% - calc(164px / 2)); 
            }
        }

        .container {
            width: 164px;
            font-size: 30px;
            text-shadow: 6.4px 6.4px rgb(69, 69, 69); 
            top: calc(50% - calc(202.5px / 2)) !important;
            .button{
                height: 160px;
                width: 160px;
                box-shadow: 6.4px 6.4px rgb(69, 69, 69);

            }

            .button:active {
                box-shadow: 0px 0px #000;
                transform: translate(6.4px,6.4px);
            }
        }
    }
}