// Vendor
@import "~normalize.css/normalize.css";

@import "./helper/anim";
@import "./helper/fonts";

@import "./config/variables";
// Shared components
@import "./shared/loading";


.choice-game{
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    
    &.a {
        background-color: #E74C3C;
        &.out {
            animation: swing-out-top-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
        }
    }

    &.b {
        top: 50%;
        background-color: #ECF0F1;
        &.out {
            animation: swing-out-bottom-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
        }
    }

    .container {
        background: red;
        width: 40%;
        height: 80%;
        font-family: $font-type-two;
        font-weight: 500;
        color: white;
        text-align: center;
        .button{
            height: 70px;
            width: 70px;
            border-radius: 100%;
            border: 3px solid rgb(69, 69, 69) ;
            background-color: white;
            cursor: pointer;
        }
    }
}

@media (min-width: 650px){
    .choice-game{
        height: 100%;
        width: 50%;
        
        &.a {
            &.out {
                animation: swing-out-left-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
            }
        }

        &.b {
            top: 0;
            left: 50%;
            &.out {
                animation: swing-out-right-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
            }
        }
    }
}