// Vendor
@import "~normalize.css/normalize.css";

@import "./helper/anim";
@import "./helper/fonts";

@import "./config/variables";
// Shared components
@import "./shared/loading";


.choice-game{
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;

    background-color: rgb(204, 89, 81);
    &:nth-of-type(2) {
        top: 50%;
        background-color: rgb(138, 197, 133);
    }

    .container {
        background: red;
        width: 40%;
        height: 80%;
        font-family: $font-type-two;
        font-weight: 500;
        color: white;
        text-align: center;
        .button{
            height: 70px;
            width: 70px;
            border-radius: 100%;
            border: 3px solid rgb(69, 69, 69) ;
            background-color: white;
        }
    }
}

@media (min-width: 650px){
    .choice-game{
        height: 100%;
        width: 50%;
        &:nth-of-type(2) {
            top: 0;
           left: 50%;
        }
    }
}